table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

h1{
    text-align: center;
}

.addACoffee{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#submitButton,#submitCoffee{
    background-color: cornflowerblue;
    margin-top: 20px;
}

#coffees{
    font-size: x-large;
    display: flex;
    flex-direction: left;
    padding: 0;
}


